<footer class="bg-[#171717] mt-[254px] text-white h-[93px]">
    <p class="pt-[13px] pl-[30px] text-[15px]">México</p>
    <div class="bg-zinc-700 w-full h-[1px] mt-[11px] mb-[11px]"></div>
    <a href="" class="text-[14px] pl-[35px] hover:underline">Sobre Google</a>
    <a href="" class="text-[14px] pl-[25.5px] hover:underline">Publicidad</a>
    <a href="" class="text-[14px] pl-[25.5px] hover:underline">Negocios</a>
    <a href="" class="text-[14px] pl-[25.5px] hover:underline">Cómo funciona la Búsqueda</a>
    <div class="flex">
        <div class="flex-grow"></div>
        <a href="" class="text-[14px] hover:underline -mt-[22px] mr-[30px]">Privacidad</a>
        <a href="" class="text-[14px] hover:underline -mt-[22px] mr-[30px]">Condiciones</a>
        <a href="" class="text-[14px] hover:underline -mt-[22px] mr-[35px]">Preferencias</a>
    </div>
</footer>